<form class="type-faster-form" #typeFasterForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <p>
      {{ sentence }}
    </p>
  </div>
  <div class="form-control">
    <textarea
      autofocus
      cols="50"
      rows="5"
      name="userInput"
      [(ngModel)]="userInput"
      onpaste="return false"
    ></textarea>
  </div>
  <div class="form-control">
    <button
      type="submit"
      [disabled]="userInput !== sentence"
      style="width: 75px; height: 50px"
    >
      Submit
    </button>
  </div>
</form>
{{ display }}
