<h3 class="user-name">{{ userName }}</h3>
<p class="question-text">
  {{ sentence }}
</p>
<form class="type-faster-form" (ngSubmit)="onSubmit()">
  <h5 *ngIf="timeTaken" class="time-taken-info">
    Time: {{ timeTaken | formattedTime }}
  </h5>
  <div>
    <textarea
      autofocus
      rows="5"
      name="userInput"
      [disabled]="isInputAreaDisabled"
      [(ngModel)]="userInput"
      (keydown.enter)="onSubmitUsingEnterKey()"
      onpaste="return false"
      oncontextmenu="return false"
    ></textarea>
  </div>
  <div>
    <button
      type="submit"
      [disabled]="userInput !== sentence"
      [ngClass]="{ 'btn-submit': true, 'btn-success': userInput === sentence }"
      [ngStyle]="{ cursor: userInput === sentence ? 'pointer' : 'not-allowed' }"
      *ngIf="!timeTaken"
    >
      Submit
    </button>
  </div>
</form>
