:host {
  text-align: center;
}

.type-faster-form {
  padding: 10% 0;
}

.user-input-blk {
  display: inline-block;
}

.type-faster-form textarea {
  padding: 1%;
  width: 60vw;
}

@media screen and (min-width: 768px) {
  .type-faster-form textarea {
    width: 40vw;
  }
}

.time-taken-info {
  padding-bottom: 2%;
}

.user-name {
  padding: 5%;
}

.question-text {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-submit {
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid transparent;
  cursor: pointer;
}
