<h3 style="text-align: center">{{ userName }}</h3>
<form class="type-faster-form" #typeFasterForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <p>
      {{ sentence }}
    </p>
  </div>
  <h5 *ngIf="timeTaken">Time: {{ display }}</h5>
  <div class="form-control">
    <textarea
      autofocus
      cols="50"
      rows="5"
      name="userInput"
      [disabled]="isInputAreaDisabled"
      [(ngModel)]="userInput"
      (keydown.enter)="onSubmitUsingEnterKey()"
      onpaste="return false"
      oncontextmenu="return false"
    ></textarea>
  </div>
  <div class="form-control">
    <button
      type="submit"
      [disabled]="userInput !== sentence"
      style="width: 75px; height: 50px"
      *ngIf="!timeTaken"
    >
      Submit
    </button>
  </div>
</form>
