<div class="game-console">
  <div
    class="available-username-info"
    *ngIf="currentUser && (isPlayBtnVisible || isTimerVisible)"
  >
    {{ currentUser }}
  </div>
  <h3 class="user-availability-info">
    {{ isResetBtnVisible ? "User Slots Unavailable" : isPlayBtnVisible ? "User Slots Available" : null }}
  </h3>
  <button type="button" class="btn" *ngIf="isPlayBtnVisible" (click)="onPlay()">
    Play
  </button>
  <button
    type="reset"
    class="btn"
    *ngIf="isResetBtnVisible"
    (click)="onResetGame()"
  >
    Reset Game
  </button>
  <h2 *ngIf="isTimerVisible">{{ counter }}</h2>
  <app-game-console
    *ngIf="isGameConsoleVisible"
    [sentence]="gameSentence"
    [userName]="currentUser"
    (receivedScore)="updateScoreOfUser($event)"
  >
  </app-game-console>
  <app-result *ngIf="isGameOver" [user]="winner"></app-result>
</div>
