<div class="game-console">
  <div class="available-username-info">
    <span *ngIf="currentUser && (isPlayBtnVisible || isTimerVisible)">{{ currentUser }}</span>
  </div>
  <button
    type="button"
    class="btn-play"
    *ngIf="isPlayBtnVisible"
    (click)="onPlay()"
  >
    Play
  </button>
  <h2 *ngIf="isTimerVisible">{{ counter }}</h2>
  <app-game-console
    *ngIf="isGameConsoleVisible"
    [sentence]="gameSentence"
    [userName]="currentUser"
    (receivedScore)="updateScoreOfUser($event)"
  >
  </app-game-console>
  <app-result *ngIf="isGameOver" [user]="winner"></app-result>
</div>
