.game-console {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-availability-info {
  flex-basis: 30%;
}

.btn {
  height: 75px;
  width: 150px;
  text-transform: uppercase;
}
