<div class="game-console" *ngIf="!loader">
  <h3
    class="user-availability-info"
    [ngStyle]="{ color: isResetBtnVisible ? 'red' : 'green' }"
    *ngIf="isResetBtnVisible || isPlayBtnVisible"
  >
    {{
      isResetBtnVisible
        ? "User Slot Unavailable"
        : isPlayBtnVisible
        ? "User Slot Available"
        : null
    }}
  </h3>
  <button type="button" class="btn" *ngIf="isPlayBtnVisible" (click)="onPlay()">
    Play
  </button>
  <app-loader *ngIf="loaderResetToPlay"></app-loader>
  <button
    type="reset"
    class="btn"
    *ngIf="isResetBtnVisible"
    (click)="onResetGame()"
  >
    Reset Game
  </button>
  <h2 *ngIf="isTimerVisible">{{ counter }}</h2>
  <app-game-console
    *ngIf="isGameConsoleVisible"
    [sentence]="gameSentence"
    [userName]="currentUser"
    (receivedScore)="updateScoreOfUser($event)"
  >
  </app-game-console>
  <div class="waiting-for-winner-loader" *ngIf="loaderWaitingForWinner">
    <p>waiting for the other user to complete his turn</p>
    <app-loader></app-loader>
  </div>
  <app-result *ngIf="isGameOver" [user]="winner"></app-result>
</div>

<app-loader *ngIf="loader"></app-loader>
